@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@fortawesome/fontawesome-free/css/all.css";
@import "./animate.min.css";

*,
:after,
:before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Conv_SVN-Radiant Slender";
  src: url("/assets/fonts/SVN-Radiant Slender.woff") format("woff");
}
@font-face {
  font-family: "Conv_BeVietnam-Bold";
  src: url("/assets/fonts/BeVietnam-Bold.woff") format("woff");
}

@font-face {
  font-family: "Conv_BeVietnam-Regular";
  src: url("/assets/fonts/Conv_BeVietnam-Regular.woff") format("woff");
}

@font-face {
  font-family: "Conv_TIMESR";
  src: url("/assets/fonts/TIMESR.woff") format("woff");
}

@font-face {
  font-family: "Conv_BeVietnam-Thin";
  src: url("/assets/fonts/BeVietnam-Thin.woff") format("woff");
}

:root {
  --font-title: "Conv_SVN-Radiant Slender";
  --font-body: "Conv_BeVietnam-Regular";
  --font-bethin: "Conv_BeVietnam-Thin";
  --font-time: "Conv_TIMESR";
  --font-bebold: "Conv_BeVietnam-Bold";
  --color-1: #ffc20e;
  --color-2: #ff0e56;
  --color-3: #afafaf;
  --color-4: #faebd7;
  scroll-behavior: auto !important;
}
body {
  font-size: 14px;
  background: rgb(250, 250, 250);
}

.--link {
  cursor: pointer;
}

a,
.--link {
  text-decoration: none;
  color: inherit;
}

a {
  background-color: transparent;
}

a:hover {
  --bs-link-color-rgb: var(--bs-link-hover-color-rgb);
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.animate__animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animate__animated.animate__infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.animate__pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  z-index: 99;
}
.loading .img-loading-wrap {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

